<div class="mt-4">
    <form method="GET" action="/news">
        <div class="mb-3">
            <label for="Search-input" class="form-label">Tu Khoa</label>
            <input
                type="text"
                class="form-control"
                id="Search-input"
                placeholder="Search"
                name="search"
            />
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>